body {
    background-color: black;
    text-align: center;
}

section {
    height: 750px;
}

.container-fluid {
    padding: 3% 15% 7%;
    /* height: 750px; */
    height: 100%;
}

.height-700 {
    height: 1000px;
}

.sm-sh-full {
    height: 75%;
}

.bg-black {
    background-color: black;
}

.bg-blue {
    background-color: blue;
}

.mu-md {
    margin-top: auto;
    margin-bottom: auto;
}

.ml-mr {
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0;
    padding-right: 0%;
}

.bg-slate {
    background-color: #141010;
}

.font-one {
    font-size: 1.2rem;
}

.nav-logo {
    width: 40px;
}

.font-spar {
    font-family: Spartan;
}

.font-open {
    font-family: Open Sans;
}

.bd-rnd-16 {
    border-radius: 16px;
}

.bx-in-shadow {
    /* box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset; */
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

.clr-highlight {
    color: #00ff00;
}

.clr-red {
    color: #f80040;
}

.fnt-siz-big {
    font-size: 6rem;
}

.fnt-siz-mid {
    font-size: 2.5rem;
}

.md-s-full {
    width: 50%;
}

.pro-img {
    width: 70%;
}

.myNameLatter {
    opacity: 0;
}

.skill-parent {
    background-color: #7df9ff;
    width: 80%;
    height: 85%;
}

.skills:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* background-color: skyblue; */
}

.skill-img {
    width: 65%;
}

.skill-img:hover {
    box-shadow: rgba(173, 36, 139, 0.25) 0px 14px 28px, rgba(33, 87, 202, 0.22) 0px 10px 10px;
}



.mar-700 {
    margin-top: 10%;
}

.online-card {
    height: 400px;
    width: 35%;
}

.talk-img {
    width: 200px;
}

.bdr-blue {
    /* border: 2px blue solid; */
    background-color: skyblue;
    color: blue;
}

.form-container {
    background-color: #7df9ff;
    width: 80%;
}

textarea {
    resize: none;
    border: none;
}

.form-element-w {
    width: 80%;

}

.form-cont-height {
    height: 85%;
}

.font-drk-orange {
    color: #dd8022;
}

.discrip {
    left: 0;
    right: 0;
    bottom: -80%;
    opacity: 1;
    width: 100%;
    height: 50%;
    background-color: #dfd0ff;
}

.workParent {
    background-color: #ee9b11;
    width: 95%;
}

.vid-block {
    width: 80%;
}

.pro-title-block {
    height: auto;
}

.h-auto {
    height: auto;
}

.main-content-center {
    height: 90%;
}

.carousel {
    width: 80%;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-item {
    width: 100%;
    height: 100%;
}


/* Changing the scroll bar  */


/* width  of the scrollbar */

::-webkit-scrollbar {
    width: 10px;
}


/* track of the scrollbar  */

::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 16px;
}


/* handle of the scrollbar  */

::-webkit-scrollbar-thumb {
    background-color: darkslategrey;
    border-radius: 16px;
}

@media (max-width: 760px) {
    .container-fluid {
        padding-left: 7%;
        padding-right: 7%;
    }
    .md-s-full {
        width: 100%;
    }
    .fnt-siz-big {
        font-size: 5rem;
    }
    .sm-sh-full {
        height: 80%;
    }
    .pro-img {
        width: 50%;
    }
    .talk-img {
        width: 50%;
    }
    .form-container {
        width: 95%;
    }
    .form-cont-height{
        height: 70%;
    }
    .form-element-w{
        width: 90%;
    }
    input{
        height:40px;
    }

    .workParent {
        height: 100%;
        width: 95%;
    }
    .carousel {
        height: 70%;
        width: 99%;
    }
    .discrip {
        height: 60%;
    }
    .pro-title-block {
        height: 80%;
    }
    .h-sm-ten {
        height: 20%;
    }
    .vid-block{
        width: 99%;
    }
    .skill-parent{
        width: 85%;
        height: 88%;
    }
}